
:root {
    --expand-clor: #b3b1b1;
    --edit-color: #9a8869;
    --delete-color: #bb6f6f;
    --error-color: #bb6f6f;
    --bg-error: #f7e0e0;
    --bg-warning: #ffe;
    --add-color: green;
    --inform-title-color: #4682b4;
    --success-color: green;
    --number-color: red;
    --warning-color: #d68104;
    --bg-odd: #eee;
    --bg-row-hover: #fffcec;

    --primary-color: #2b5797;
    --primarybg-color: #2b5797;
    --secondarybg-color: #f3f3f3;
    --secondary-color: #264c85;
    --font-color: #3c3c3c;
    --bg-color: #fff;
    --bg-color2: #f3f3f3;
    --bg-bread: #dde5ef;
    --bg-nav: #f1f1f1;
    --bgbutton-color: #d6d6d6;
    --heading-color: #fff;
    --th-color: #dde5ef;
    --td-color: #f3f8ff;
    --light-color: #fff;
  }


  @import "style-custom/style-original";