<div class="pagination">
    <select class="browser-default">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1,000</option>
        <option value="3000">3,000</option>
    </select>
    <p class="pf"></p>-<p class="pl"></p><span>/</span>
    <i class="fa fa-angle-left"></i>
    <select class="browser-default">
        <option>option</option>
    </select>
    <i class="fa fa-angle-right"></i>
</div>
