<div class="row nav-tools">
  <div class="col 12s full-width">
    <div class="col title">
      <a tootip>Cấu hình hướng dẫn</a>
    </div>

    <div class="flex space-between">
      <div class="col tool1">
        <a class="mr5 btn-add"><i class="fa fa-plus"></i>Tạo Mới</a>
        <div class="guide-list">
          <div class="guide-icon tool1">
            <a class="mr5 btn-add"
              ><i class="fa fa-question"></i>F1 <i class="fa fa-angle-down"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col tool3 flex center">
        <div class="search">
          <input type="text" placeholder=" Tìm Kiếm..." name="keyword" />
          <i class="fa fa-times"></i>
          <button><i class="fa fa-search"></i></button>
        </div>
        <app-paging-control> </app-paging-control>
      </div>
    </div>
  </div>
</div>

<s></s>
